@media screen and (min-width: 881px) and (max-width: 1500px) {
  .navbar a {
    margin: 1vw;
    font-size: 1.9vw;
  }

  .button_pa {
    font-size: 3vw;
    padding: 0.3vw 2vw 0.3vw 1vw;
  }

  .button_pa svg {
    width: 3vw;
    height: 3vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
  }

  .content_home {
    height: 69vw;
  }

  .content_right p {
    font-size: 5vw;
  }

  .right_action p {
    font-size: 2.445vw;
  }

}

@media screen and (min-width: 768px) and (max-width: 880px) {
  /* Tablet */

  .navbar a {
    margin: 1vw;
    font-size: 1.9vw;
  }

  .button_pa {
    font-size: 3vw;
    padding: 0.3vw 2vw 0.3vw 1vw;
  }

  .button_pa svg {
    width: 3vw;
    height: 3vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
  }

  .content_home {
    height: 74vw;
  }

  .content_right p {
    font-size: 5vw;
  }

  .right_action p {
    font-size: 2.445vw;
  }

  .content_sobre {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 2fr);
  }

  .sobre_content {
    width: 95%;
    height: 48vw;
  }

  #sobre_nos h1,
  .titulo_prod {
    font-size: 6vw;
  }

  .subtitulo_prod {
    font-size: 4vw;
  }

  .bk_svg {
    width: 15vw;
    height: 15vw;
  }

  .text_content_sobre h2 {
    font-size: 3.7vw;
  }

  .text_content_sobre p {
    font-size: 2.3vw;
  }

  .content_prod {
    display: grid;
  }

  .produto {
    width: 98%;
    height: 68vw;
  }

  .text_prod {
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_prod h2 {
    font-size: 5vw;
  }

  .text_prod p {
    width: 59%;
    font-size: 3vw;
    line-height: none;
  }
}
@media screen and (max-width: 767px) {
  /* Celulares */

  header {
    display: flex;
    height: 10vw;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: none;
  }

  .navbar {
    width: 71%;
    display: flex;
    flex-direction: row;
  }

  .navbar a {
    margin: 3vw;
    font-size: 1.9vw;
  }

  .button_pa {
    position: relative;
    right: 2vw;
    font-size: 3vw;
    padding: 0.3vw 2vw 0.3vw 1vw;
    position: relative;
    right: 2vw;
  }

  .button_pa svg {
    width: 3vw;
    height: 3vw;
    padding: 0.7vw 1vw 0.7vw 1vw;
  }

  .content_home {
    height: 69vw;
  }

  .content_right p {
    font-size: 5vw;
  }

  .right_action p {
    font-size: 2.445vw;
  }


  .promo {
    font-size: 1.45vw;
  }

  .content_sobre {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2, 2fr);
  }

  .sobre_content {
    width: 95%;
    height: 41vw;
  }

  #sobre_nos h1,
  .titulo_prod {
    font-size: 6vw;
  }

  .subtitulo_prod {
    font-size: 4vw;
  }

  .bk_svg {
    width: 15vw;
    height: 15vw;
  }

  .text_content_sobre h2 {
    font-size: 3.7vw;
  }

  .text_content_sobre p {
    font-size: 2.3vw;
  }

  .content_prod {
    display: grid;
  }

  .produto {
    width: 98%;
    height: 68vw;
  }

  .text_prod {
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text_prod h2 {
    font-size: 5vw;
  }

  .text_prod p {
    width: 59%;
    font-size: 2.9vw;
    /* line-height: 0; */
  }

  .footer {
    height: 36vw;
  }

  .copy p {
    font-size: 1vw;
  }
}
