html {
    margin: 0;
    padding: 0;
}
 
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw;
    background-color: #e9d9fb;
    overflow-x: hidden;
}

/* Home */

#home {
    font-family: "Oswald", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #56267d;
}

.navbar {
    display: flex;
    justify-content: center;
}

.links_navbar {
    text-decoration: none;
    margin: 2.5vw;
    font-size: 1.445vw;
    color: #fff
}

.links_navbar:hover {
    transition: 0.33s ease;
    text-decoration:overline;
}

.button_pa {
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
    background-color: #e74765;
    padding: 0.1vw 2vw 0.1vw 1vw;
    border-radius: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button_pa:hover {
    transition: 0.3s ease;
    background-color: #d42a53;
}

.button_pa svg {
    width: 2.445vw;
    height: 2.445vw;
    padding: 0.723vw 1.8vw 0.723vw 1.8vw;
}

.home_right {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content_right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    position: relative;
    bottom: 0;
    padding: 2.891vw 15.68vw 1.445vw 4.336vw;
}

.content_right p {
    font-family: "Poetsen One", sans-serif;
    font-size: 3.523vw;
    color: #39105b;
    margin: 0;
}

.content_right .right_action {
    font-size: 1.445vw;
    font-weight: 400;
    padding: 1.181vw 1.181vw 1.181vw 0px;
    font-family: "Oswald";
}

.home_right .promo {
    font-size: 1.445vw;
    text-decoration: none;
    background-color: #e74765;
    color: #fff;
    padding: 1vw;
    border-radius: 4vw;
}

.home_right .promo:hover {
    transition: 0.3s ease;
    background-color: #d42a53;
}

.home_left {
    width: 50%;
    height: 100%;
    background-image: url(../img/copinho-acai\ banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
}

.content_home {
    display: flex;
    width: 100%;
    height: 86vh;
}

.logo img {
    width: 18.067vw;
}

/* Sobre */

#sobre_nos {
    font-family: "Poetsen One", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 8.452vw;
    flex-wrap: wrap;
}

#sobre_nos h1 {

    text-align: center;
    color: #39105b;
    font-size: 4vw;
    margin: 4vw;
}

.content_sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.sobre_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #39105b;
    width: 21%;
    margin: 1vw;
    background-color: #e9d9fb;
    height: 33vw;
    padding: 0.5vw;
    border-radius: 1.626vw;
}

.content_sobre svg {
    color: #39105b;
    width: 5vw;
    height: 5vw;
}

.text_content_sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text_content_sobre_corr {
    position: relative;
    top: 0.994vw;
}

.text_content_sobre p {
    font-size: 1.445vw;
}

.text_content_sobre h2 {
    font-size: 1.7vw;
    font-weight: bold;
    margin: 3vw 0 1vw 0;
}

.bk_svg {
    width: 10vw;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d8bbf7
}

/* Produtos */

.img_prod {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.img_prod img {
    filter: drop-shadow(0.452vw 0.452vw 0.903vw rgba(0, 0, 0, 0.5));
}

.img_250 {
    width: 10vw;
}

.img_500 {
    width: 27vw;
}

.img_500_barca {
    width: 21vw;
    transform: rotate(-45deg);
}

#prod {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.content_prod {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.produto {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 30%;
    border-radius: 2vw;
    align-items: center;
    margin: 1vw;
}

.cb_prod {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 4vw;
}

.titulo_prod {
    font-size: 4vw;
    text-align: center;
    width: 100%;
    font-family: "Poetsen One", sans-serif;
    color: #39105b;
}

.subtitulo_prod {
    font-family: "Poetsen One", sans-serif;
    font-size: 2vw;
    color: #57267d;
    margin-top: 0.5vw;
}

.text_prod {
    width: 100%;
    height: 33%;
    padding-bottom: 3vw;
}

.text_prod h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 3.162vw;
    font-weight: 700;
    margin: 0.451vw;
    color: #ffffff;
    text-align: center;
}

.text_prod p {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.445vw;
    margin: 1vw;
    color: #fff;
    text-align: center;
    font-weight: 100;
    /* line-height: 2.168vw; */
}

#content_prod1 {
    background-color: #1aa3ca;
}

#content_prod2 {
    background-color: #26a985;
}

#content_prod3 {
    background-color: #ee5b92;
}

.link_bt_prod {
    font-family: "Poetsen One", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-bottom: 3vw;
    margin-top: 1vw;
    background-color: #39105b;
    width: 31%;
    padding: 2vw;
    border-radius: 4vw;
    border: 0.09vw #ffff solid;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
}

.link_bt_prod:hover {
    color: #39105b;
    transition: 0.3s ease;
    background-color: #9245d8;
    border: 0.09vw #39105b solid;
}

/*franqueado*/

#franq {
    height: 33.1VW;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url(../img/franq_acai_banner.jpg);
    width: 100%;
    height: 55vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Oswald", sans-serif;
}

.content_franq {
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    flex-direction: column;
    margin: 11vw;
}

.content_title_franq h1 {
    font-size: 6vw;
    color: #fff;
    margin: 0;
}

.content_title_franq p {
    width: 27.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2vw 0vw;
    font-size: 2vw;
    color: #ffffff;
}

.link_buttom_franq {
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    padding: 2vw;
    background-color: #39105b10;
    border: 0.09vw #fff solid;
    border-radius: 9vw;
}

.link_buttom_franq:hover {
    transition: 0.3s ease;
    background-color: #e74765;
}

#franq_text_hover_h1:hover {
    transition: 0.2s ease;
    color:#e74765;
    -webkit-text-stroke: 0.05vw #fff;
}

/*footer*/

footer {
    height: 35vw;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #e9d9fb;
}

#content_footer {
    width: 50%;
    height: 27.1vw;
}

.title_footer {
    font-size: 2vw;
}

.title_footer h1 {
    text-align: center;
    color: #39105b;
}

.icons_footer_left {
    display: flex;
    justify-content: center;
    margin: 1vw;
}

.icons_footer_left svg {
    width: 4.336vw;
    height: 4.336vw;
    color: #39105b;
    padding: 1vw;
}

.icons_footer_left svg:hover {
    color: #fff;
    background-color: #e64765;
    border-radius: 1vw;
}

.buttons_footer_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons_footer_left a {
    width: 60%;
    padding: 1vw;
    border: 0.09vw #39105b solid;
    border-radius: 4vw;
    padding: 2vw;
    margin: 0.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    color: #39105b;
}

.buttons_footer_left a:hover {
    transition: 0.2 ease;
    border: 0.09vw #39105b solid;
    background-color: #e64765;
    color: #fff;
}

.content_footer_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.qrcode {
    display: flex;
    flex-direction: row;
}

.qrcode figure {
    margin: 1vw;
}

.qrcode figure img {
    width: 18.067vw;
}

.qrcode figure figcaption {
    text-align: center;
    color: #39105b;
    font-size: 2vw;
}

.copy {
    text-align: center;
    background-color: #39105b;
}

.copy p {
    font-family: "Oswald", sans-serif;
    font-size: 1vw;
    color: #fff
}